
# Singularity containers.
*.sif

# VIM swap files.
*.swp

# Python artifacts.
__pycache__/

# Mac
.DS_Store

# Data input/output folders for testing
local_data/*
output/*
upload/*

# Rendered tutorials
documentation/tutorials/*.html
documentation/tutorials/assets/*

# CERES output files
slurm*

