
# VIM swap files.
*.swp

# Python artifacts.
__pycache__/

# Mac
.DS_Store

# Data input/output folders for testing
src/local_data/*
src/output/*

# Rendered tutorials
documentation/tutorials/*.html

# CERES output files
slurm*
